<div class="btn-group">
    <a class="btn btn-success " href='{{ path('user_order') }}'>Мои заказы в магазинах</a>
    <a class="btn btn-success " href='{{ path('manager_order') }}'>Заказы в моих магазинах</a>
</div>