<ul class="menu">
    <li><a href="{{ path('_friends') }}">Мои друзья</a></li>
    <li><a href="{{ path('_searchUsers') }}">Найти друзей</a></li>
    <li><a href="{{ path('_myApplicationFriends') }}">Мои заявки</a></li>
    <li><a href="{{ path('_applicationFriends') }}">Заявки</a></li>
</ul>
