<div class="btn-group btn-group-sm">
    <a class="btn btn-success" href="{{ path('_friends') }}">Мои друзья</a>
    <a class="btn btn-success" href="{{ path('_searchUsers') }}">Найти друзей</a>
    <a class="btn btn-success" href="{{ path('_myApplicationFriends') }}">Мои заявки</a>
    <a class="btn btn-success" href="{{ path('_applicationFriends') }}">Заявки</a>
</div>
