<div class="btn-group">
    <a class="btn btn-success btn-sm" href="{{ path('_advertising') }}">Реклама</a>
    <a class="btn btn-success btn-sm" href="{{ path('_platformAdvertising') }}">Добавить рекламу на платформу</a>
    <a class="btn btn-success btn-sm" href="{{ path('_shopAdvertising') }}">Добавить рекламу к магазин</a>
</div>