<div class="btn-group">
    <a class="btn btn-success btn-sm" href="{{ path('_advertising') }}">Реклама</a>
    <a class="btn btn-success btn-sm" href="{{ path('_formAdvertising') }}">Создать рекламу</a>
</div>