/.idea/
/app/cache/
/app/logs/
/app/*.php
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/console
/app/*.dist
/app/.htaccess
!/app/cache/.gitkeep
!/app/logs/.gitkeep
!/app/AppKernel.php
/bin/
/vendor/
/web/bundles
/web/.htaccess
/web/app.php
/web/app_dev.php
/web/config.php
/web/favicon.ico
/web/media
/web/public/images/product/
/web/public/images/advertising/
/web/public/images/logo/
/web/public/images/avatar/
/web/apple-touch-icon.png
composer.lock
*~