/.idea/
/app/cache/
/app/logs/
/app/Resources/
/app/*.php
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/console
/app/*.dist
/app/.htaccess
!/app/cache/.gitkeep
!/app/logs/.gitkeep
!/app/AppKernel.php
/bin/
/vendor/
/web/
!/web/public/
composer.lock