{% block stylesheets %}
    <link href="{{ asset('public/css/shops.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/form/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

<div class="textInformation">
    <h3>Способы оплаты:</h3>
    <p class="text">{{ payment }}</p>
</div>