/* style for main eliments
------------------------------------------------- */
#mainContent { 
    float: none;
    width: 1000px;
}
#seconderyContent {
    margin-bottom: 80px;
    float: left;
    width: 180px;
}
#content { 
    margin-bottom: 80px;
    float: right;
    width: 780px; 
}
/* style for secondery content
-------------------------------- */
#seconderyContent {
    margin-top: 20px;
}
#seconderyContent .main {
    display: block;
    line-height: 25px;
    text-align: center;
    color: #585858;
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}
#seconderyContent .subscribe {
    margin-top: 10px;
    display: block;
    width: 170px;
    line-height: 28px;
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    background: #26a168;
}
#seconderyContent .subscribe:hover {
    background: #EE7600;
}
#seconderyContent p {
    margin-top: 14px;
    color: #585858;
    text-align: center;
}
/* style for menu */
#seconderyContent .menu {
    margin-top: 20px;
    float: left;
    width: 190px;
    position: relative;
}
#seconderyContent .menu li {
    float: left;
    margin-bottom: 10px;
    width: 190px;
}
#seconderyContent .menu a {
    display: block;
    float: left;
    width: 180px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 14px;
    color: #2ab374;
    box-shadow: 0 0 3px 0px #2ab374;
}
#seconderyContent .menu .hover {
    color: #fff;
    background: #EE7600;
    box-shadow: 0 0 3px 0px #EE7600;
}
#seconderyContent .menu a:hover {
    color: #fff;
    background: #EE7600;
    box-shadow: 0 0 3px 0px #EE7600;
}
#seconderyContent .menu .secondMenu {
    margin-left: 20px;
    float: left;
}
#seconderyContent .menu .secondMenu h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    font-size: 14px;
    color: #b4b0b0;
}
#seconderyContent .menu .secondMenu li {
    width: 150px;
    margin-bottom: 0px;
}
#seconderyContent .menu .secondMenu a {
    padding: 5px;
    width: 155px;
    height: auto;
    line-height: normal;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    box-shadow: none;
}
#seconderyContent .menu .secondMenu a:hover {
    color: #EE7600;
    background: none;
}
#seconderyContent .menu .secondMenu .target {
    color: #EE7600;
    font-weight: bolder;
}
/* style for top menu
------------------------------*/
#content .menu {
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    width: 776px;
    background: #ddf3e9;
}
#content .menu li {
    margin-bottom: 0px;
    float: left;
}
#content .menu a {
    display: block;
    padding: 13px;
    font-weight: bolder;
    font-size: 11px;
    line-height: 10px;
    color: #2ab374;
    text-decoration: none;
}
#content .menu a:hover {
    background: #c7ebdb;
    text-decoration: underline;
}
/* style for top products
------------------------------*/
#content .products {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    width: 193px;
}
#content .products:hover {
    box-shadow: 0px 0px 5px -1px #585858;
}
#content .products:hover a {
    box-shadow: 0px 0px 0px 0px #fff;
}
#content .products li {
    margin-bottom: 0px;
}
#content .products a {
    display: block;
    position: relative;
    padding: 4px;
    width: 185px;
    height: 285px;
    text-decoration: none;
    box-shadow: 0px 0px 5px -1px #585858;
}
#content .products a:hover {
    background: #fff;
    box-shadow: 0px 0px 0px 0px #fff;
}
#content .products:hover .imgHover {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 183px;
    height: 283px;
    background: #0c0c0c;
    opacity: 0.5;
    z-index: 100;
}
#content .products a img {
    float: left;
}
#content .products h3 {
    margin-top: 5px;
    color: #312f2f;
    text-align: center;
}
#content .products p {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    float: left;
    color: #2ab374;
}
#content .products .like {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: right;
    line-height: normal;
    padding: 0px;
    width: 70px;
    height: auto;
    color: #2ab374;
    box-shadow: 0px 0px 0px;
}
#content .products .like .countLike {
    float: right;
    text-align: right;
    width: 38px;
    background: url('/public/images/like.png') no-repeat center left;
}
/* style for search 
---------------------------*/
#load {
    margin-top: 30px;
    display: none;
    float: left;
    width: 776px;
}
#load .processImage {
    width: 31px;
}
#content .search {
    margin-top: 0px;
    margin-bottom: 22px;
    float: left;
}
#content .searchProduct .search {
    margin-top: 0px;
    margin-bottom: 22px;
    float: left;
    border-top: 0px solid #ebebeb;
}
#content .search input {
    margin-left: 0px;
    margin-top: 18px;
    float: left;
    display: block;
    padding: 5px;
    font-size: 14px;
    color: #b4b0b0;
    width: 730px;
    line-height: 29px;
    height: 29px;
    border: 1px solid #f1f1f1;
    border-right: 0px;
    box-shadow: -2px 0px 5px -2px #f1f1f1;
}
#content .search .button {
    margin-left: 0px;
    margin-top: 18px;
    float: left;
    display: block;
    width: 35px;
    height: 41px;
    border: 1px solid #f1f1f1;
    border-left: 0px;
    background: url('/public/images/shop/button_search.png') no-repeat center center;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 2px 0px 5px -2px #f1f1f1;
}
#result {
    float: left;
    width: 790px;
}
#result h3 {
    color: #b4b0b0;
    font-size: 13px;
}
/* style for product 
------------------------------*/
#content .chapterProduct {
    float: left;
    margin-top: 20px;
    padding-bottom: 10px;
    width: 775px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #ebebeb;
}
#content .chapterProduct h3 {
    width: 160px;
    font-size: 16px;
    color: #2E2E2E;
}
#content .mainImg {
    margin-top: 10px;
    margin-left: 70px;
    float: left;
    width: 310px;
}
#content .mainImg img {
    float: right;
    padding: 5px;
    box-shadow: 0px 0px 5px -1px #585858;
}
#content .options {
    margin-top: 10px;
    float: right;
    width: 390px;
}
#content .options ul {
    margin-left: 5px;
    margin-top: 10px;
    float: left;
    width: 450px;
}
#content .options ul li {
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
}
#content .options ul p {
    width: 220px;
    color: #b4b0b0;
}
#content .options ul p span {
    float: right;
    width: 150px;
    color: #29b273;
}
#content .options .text {
    float: left;
    margin-left: 5px;
    padding-top: 10px;
    color: #2E2E2E;
    width: 370px;
    border-top: 1px solid #ebebeb;
}
#content .options .load {
    float: left;
    display: none;
    width: 177px;
    height: 32px;
    background: #ddf3e9;
    opacity: 1;
}
#content .options .load p {
    display: block;
    width: 44px;
    line-height: 32px;
}
#content .options .addBasket {
    margin-top: 0px;
    width: 370px;
}
#content .options .addBasket .chapter {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 13px;
    color: #2ab374;
}
#content .options .addBasket .check {
    margin-bottom: 10px;
    color: #b76262;
}
#content .options .addBasket .size {
    margin-left: 0px;
    width: 370px;
    border-bottom: 1px solid #ebebeb;
}
#content .options .addBasket .size li {
    float: left;
}
#content .options .addBasket .size li label {
    padding-right: 10px;
    float: left;
    width: 10px;
    line-height: 12px;
}
#content .options .addBasket .size li input {
    margin-right: 5px;
    float: left;
}
#content .options .addBasket .price {
    margin-top: 10px;
    float: left;
    color: #2ab374;
    font-size: 18px;
    font-weight: bolder;
}
#content .subcategoryProducts {
    margin-top: 20px;
    float: left;
}
/* style for shop Indormation
-------------------------------- */
#content .information {
    margin-left: 0px;
}
#content .shopInformation {
    margin-top: 20px;
    float: left;
    width: 360px
}
#content .shopInformation img {
    float: left;
    padding: 5px;
    width: 150px;
    box-shadow: 0px 0px 5px -1px #585858;
}
#content .shopInformation ul {
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    width: 190px
}
#content .shopInformation ul li {
    margin-bottom: 5px;
    float: left;
}
#content .shopInformation ul li p {
    float: left;
    width: 200px;
    color: #2ab374;
}
#content .shopInformation ul li p span {
    margin-right: 5px;
    float: left;
    width: 60px;
    color: #918f8f;
}
#content .textInformation {
    margin-top: 20px;
    float: right;
    width: 400px;
}
#content .textInformation h3 {
    margin-top: 0px;
    float: left;
    width: 400px;
    color: #b4b0b0;
    font-size: 13px;
}
#content .textInformation p {
    margin-bottom: 10px;
    float: left;
    width: 400px;
    line-height: 25px;
    font-size: 11px;
    color: #2ab374;
}
#content .delivery {
    margin-bottom: 20px;
    float: left;
    width: 780px;
}
#content .delivery h3 {
    margin-top: 20px;
    float: left;
    width: 780px;
    color: #b4b0b0;
    font-size: 13px;
}
#content .delivery ul {
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    width: 180px;
}
#content .delivery ul li {
    margin-bottom: 5px;
    float: left;
    width: 200px;
}
.delivery ul li img {
    float: left;
}
#content .delivery ul li h3 {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: auto;
    line-height: 32px;
    color: #2ab374;
    background: #ddf3e9;
}
#content .delivery ul li p {
    float: left;
    width: 200px;
    color: #2ab374;
}
#content .delivery ul li p span {
    margin-right: 10px;
    float: left;
    width: 60px;
    text-align: right;
    color: #918f8f;
}
/* style for addProduct 
-------------------------------- */
#content .chapter {
    margin-top: 20px;
    float: left;
    width: 100%;
    color: #b4b0b0;
    font-size: 15px;
}
#content .addProduct {
    margin-top: 20px;
    float: right;
    width: 410px;
}
#content .addProduct li {
    margin-bottom: 20px;
    float: left;
    width: 410px;
}
#content .addProduct li label {
    float: left;
}
#content .addProduct li input {
    float: right;
}
#content .addProduct li select {
    float: right;
    width: 300px;
    height: 32px;
}
#content .addProduct .size_chapter {
    width: 100px;
}
#content .addProduct .size {
    width: 310px;
}
#Product_size {
    float: left;
    margin-top: 8px;
    margin-left: 12px;
}
#content .addProduct .size label {
    width: 30px;
    height: 15px;
    line-height: 15px;
    text-align: left;
}
#content .addProduct .size input {
    margin-right: 5px;
    float: left;
}
#content .addProduct li textarea {
    float: right;
    width: 365px;
}
#content .addProduct .save .button {
    margin-left: 38px;
    float: left;
}
#content .image {
    margin-top: 20px;
    float: left;
    width: 320px;
    position: relative;
}
#content .image .button {
    margin-bottom: 10px;
    float: left;
    width: 200px;
    line-height: 32px;
    text-decoration: none;
    color: #fff;
}
#content .image img {
    padding: 5px;
    float: left;
    width: 310px;
    height: 350px;
    box-shadow: 0px 0px 5px -1px #585858;
}
#content .image .mini {
    margin-top: 10px;
    float: left;
    width: 320px;
}
#content .image .mini li {
    margin-right: 10px;
    float: left;
    position: relative;
}
#content .image .mini li:last-child {
    margin-right: 0px;
}
#content .image .mini li img {
    width: 90px;
    height: 100px;
}
#content .image .delete_main {
    position: absolute;
    top: 30px;
    right: -9px;
    display: block;
    font-size: 19px;
    font-weight: bolder;
    color: #2ab374;
    cursor: pointer;
}
#content .image .mini .delete {
    position: absolute;
    top: -12px;
    right: -9px;
    display: block;
    font-size: 19px;
    font-weight: bolder;
    color: #2ab374;
    cursor: pointer;
}
/* style for checkForm 
-------------------------------- */
#content .checkForm {
    width: 525px;
    float: left;
}
#content .checkForm .button {
    margin-right: 5px;
}