{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/addPartners.js') }}" type="text/javascript"></script>
{% endblock %}

<li><p>Выберите магазин:</p></li>
{% for shop in shopsUser %}
    <li>
        <a class="add" href="{{ path('_addPartner', { 'idshops' : shop['id'], 'idShopsPartners' : idShopsPartners }) }}">
            {{ shop.shopname }}
        </a>
    </li>
{% endfor %}