<ul class="menu">
    <li class="women"><a herf="#">Женская одежда <span></span></a></li>
    <li class="man"><a herf="#">Мужская одежда <span></span></a></li>
    <li class="accessories"><a herf="#">Аксесуары <span></span></a></li>
    <li class="boots"><a herf="#">Обувь <span></span></a></li>
</ul>
