<div class="content">
    {{ render(controller('UserUserBundle:Auth:authForm')) }}
    <a class="basket" href="{{ path('_basket') }}">Корзина</a>
    {{ render(controller('SearchPlatformBundle:SearchMain:searchTop')) }}
</div>