<ul class="slider">
    <li><a href="#"><img src="/public/images/slider.png"></a></li>
    <li><a href="#"><img src="/public/images/slider.png"></a></li>
    <li><a href="#"><img src="/public/images/slider.png"></a></li>
</ul>