<ul class="menuProduct">
    <li class="women"><a href="{{ shop.id }}">Женские товары</a></li>
    <li class="man"><a href="{{ shop.id }}">Мужские товары</a></li>
    <li class="accessories"><a href="{{ shop.id }}">Акссесуары</a></li>
    <li class="boots"><a href="{{ shop.id }}">Обувь</a></li>
</ul>