<ul class="menu">
    <li><a href="{{ path('_updateForm', { 'nameShop' : nameShop }) }}">Главная информация</a></li>
    <li><a href="{{ path('_previewShop', { 'nameShop' : nameShop }) }}">Дополнительная информация</a></li>
    <li><a href="{{ path('_delivery', { 'nameShop' : nameShop }) }}">Доставка</a></li>
    <li><a href="{{ path('_mainShop', { 'nameShop' : nameShop }) }}">Перейти к магазину</a></li>
</ul>