<div class="btn-group">
    <a class="btn btn-success btn-sm" href="{{ path('_updateShop', { 'shopname' : shopname }) }}">Главная информация</a>
    <a class="btn btn-success btn-sm" href="{{ path('_previewShop', { 'shopname' : shopname }) }}">Дополнительная информация</a>
    <a class="btn btn-success btn-sm" href="{{ path('_delivery', { 'shopname' : shopname }) }}">Доставка</a>
    <a class="btn btn-success btn-sm" href="{{ path('_mainShop', { 'nameShop' : shopname }) }}">Перейти к магазину</a>
</div>