<div class="btn-group">
    <a class="btn btn-success btn-sm" href="{{ path('update_shop', { 'shopname' : shopname }) }}">Главная информация</a>
    <a class="btn btn-success btn-sm" href="{{ path('delivery', { 'shopname' : shopname }) }}">Доставка</a>
    <a class="btn btn-success btn-sm" href="{{ path('main_shop', { 'shopname' : shopname }) }}">Перейти к магазину</a>
</div>