<div class="btn-group bottom20">
    <a class="btn btn-success " href="{{ path('update_shop', { 'shopname' : shopname }) }}">Главная информация</a>
    <a class="btn btn-success " href="{{ path('delivery', { 'shopname' : shopname }) }}">Доставка</a>
    <a class="btn btn-success " href="{{ path('main_shop', { 'shopname' : shopname }) }}">Перейти к магазину</a>
</div>