<ul class="menu">
    <li><a href="{{ path('_partners') }}">Партнеры</a></li>
    <li><a href="{{ path('_searchPartner') }}">Найти партнеров</a></li>
    <li><a href="{{ path('_myApplication') }}">Мои заявки</a></li>
    <li><a href="{{ path('_application') }}">Заявки</a></li>
</ul>
