.comments {
    width: 353px;
    height: 220px;
    overflow-y: hidden;
    overflow-y: scroll;
}
.comment {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    border-bottom: 1px solid #ebebeb;
}
.comment img {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.comment ul {
    float: right;
    width: 280px;
}
.comment ul h3 {
    color: #2ab374;
    font-size: 12px;
}
.comment ul p {
    margin-bottom: 10px;
    color: #312f2f;
    line-height: 20px;
}
.formFields {
    width: 353px;
}
#addComments label {
    float: left;
    width: 200px;
    text-align: left;
}
#addComments textarea {
    float: left;
    height: 85px;
    text-align: left;
}
#addComments .button {
    margin-top: 10px;
    float: right;
}
/* style for partners 
----------------------- */
#content {
    margin: 0px;
    width: 500px;
}
#content .shop {
    margin-top: 29px;
    margin-left: 29px;
    margin-bottom: 15px;
    margin-right: 20px;
    float: left;
}
#content .shop img {
    float: left;
    width: 110px;
    height: 110px;
    background: #e1e1e1;
}
#content .shop ul {
    margin-left: 19px;
    margin-top: 7px;
    margin-right: 20px;
    float: left;
}
#content .shop ul li {
    margin-bottom: 6px;
}
#content .shop ul a {
    font-weight: bolder;
    color: #2ab374;
    text-decoration: none;
}
#content .shop ul p {
    color: #b4b0b0;
}