.textInformation {
    width: 400px;
}
.textInformation h3 {
    margin-top: 20px;
    float: left;
    width: 400px;
    font-size: 13px;
    color: #a9a8a8;
}
.textInformation ul {
    margin-top: 20px;
    float: left;
    width: 200px;
}
.textInformation ul li {
    margin-bottom: 5px;
    float: left;
    width: 200px;
}
.textInformation ul li img {
    float: left;
}
.textInformation ul li h3 {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: auto;
    line-height: 32px;
    color: #2ab374;
    background: #ddf3e9;
}
.textInformation ul li p {
    float: left;
    width: 200px;
    color: #2ab374;
}
.textInformation ul li p span {
    margin-right: 10px;
    float: left;
    width: 60px;
    text-align: right;
    color: #a9a8a8;
}