.chapter {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 100%;
    color: #b4b0b0;
    font-size: 15px;
}
.shopInformation {
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    width: 190px
}
.shopInformation li {
    float: left;
    margin-bottom: 5px;
}
.shopInformation li p {
    float: left;
    width: 190px;
    color: #2ab374;
}
.shopInformation li p span {
    float: left;
    width: 60px;
    color: #918f8f;
}
.textInformation {
    margin-top: 20px;
    float: right;
    width: 290px;
}
.textInformation h3 {
    margin-top: 0px;
    float: left;
    width: 290px;
    color: #b4b0b0;
    font-size: 13px;
}
.textInformation p {
    margin-bottom: 10px;
    float: left;
    width: 290px;
    line-height: 25px;
    font-size: 11px;
    color: #2ab374;
}