<div class="btn-group">
    <a class="btn btn-success btn-sm" href='{{ path('_property') }}'>Настройки</a>
    {% if is_granted('ROLE_MANAGER') %}
        <a class="btn btn-success btn-sm" href='{{ path('_formPassword') }}'>Изменить пароль</a>
    {% endif %}
    <a class="btn btn-success btn-sm" href='{{ path('_formInformation') }}'>О себе</a>
    <a class="btn btn-success btn-sm" href='{{ path('_formPreviewInformation') }}'>Дополнительные настройки</a>
</div>