<div class="btn-group btn-group-sm">
    <a class="btn btn-success" href="{{ path('_partners') }}">Партнеры</a>
    <a class="btn btn-success" href="{{ path('_searchPartner') }}">Найти партнеров</a>
    <a class="btn btn-success" href="{{ path('_myApplication') }}">Мои заявки</a>
    <a class="btn btn-success" href="{{ path('_application') }}">Заявки</a>
</div>
