<div class="btn-group">
    <a class="btn btn-success btn-sm" href="{{ path('advertising') }}">Реклама</a>
    <a class="btn btn-success btn-sm" href="{{ path('advertising_platform') }}">Добавить рекламу на платформу</a>
    <a class="btn btn-success btn-sm" href="{{ path('advertising_shop') }}">Добавить рекламу к магазин</a>
</div>