label {
    display: block;
    width: 100px;
    line-height: 30px;
    text-align: right;
    font-size: 11px;
    color: #b4b0b0;
}
input {
    display: block;
    margin-left: 48px;
    padding: 2px;
    width: 294px;
    line-height: 26px;
    background: #ffffff;
    border: 1px solid #f1f1f1;
}
textarea {
    display: none;
}
#textarea {
    width: 400px;
    height: 300px;
}
.button {
    display: block;
    width: 177px;
    line-height: 32px;
    text-align: center;
    color: #908f8f;
    cursor: pointer;
    background: #ffffff;
    border-radius: 4px;
    /* не забудь проверить в ишаке 9 - 10 */
    box-shadow: 0px 0px 1px 0px #cfcfcf;
}
.button:hover {
    background: #f9f9f9;
}