label {
    display: block;
    width: 100px;
    line-height: 30px;
    text-align: right;
    font-size: 11px;
    color:  #2ab374;
}
input {
    display: block;
    padding: 2px;
    width: 294px;
    line-height: 26px;
    height: 26px;
    background: #ffffff;
    border: 1px solid  #a9dba9;
}
input:focus {
    background: #fff8d8;
    border: 1px solid #c7a12e;
}
input[type="checkbox"] {
    width: auto;
    height: auto;
    border: 0px solid #f1f1f1;
}
input[type="radio"] {
    float: left;
    width: auto;
}
select {
    display: block;
    padding: 6px;
    width: 294px;
    line-height: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #a9dba9;
}
textarea {
    display: block;
    padding: 2px;
    width: 350px;
    height: 200px;
    background: #ffffff;
    border: 1px solid #a9dba9;
}
textarea:focus {
    background: #fff8d8;
    border: 1px solid #c7a12e;
}
.button {
    float: right;
    display: block;
    width: 177px;
    height: 32px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #26a168;
    border: 0px;
    font-weight: bolder;
    font-size: 12px;
}
.button:hover {
    background: #EE7600;
}