<ul class='menu'>
    <li><a href='{{ path('_property') }}'>Настройки</a></li>
    {% if is_granted('ROLE_MANAGER') %}
        <li><a href='{{ path('_formPassword') }}'>Изменить пароль</a></li>
    {% endif %}
    <li><a href='{{ path('_formInformation') }}'>О себе</a></li>
    <li><a href='{{ path('_formPreviewInformation') }}'>Дополнительные настройки</a></li>
</ul>